{% extends "main.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thyroid Disease Detection</title>
</head>

<body>
  <div id="che" , class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-10 heading-section text-center ftco-animate fadeInUp ftco-animated">
        <h1 style="font-size: 5vw;" , class="big big-2">404 Error</h1>
        <h2 class="mb-4">404 Error</h2>
        <p>Page Not Found or File Not Found error message is a Hypertext Transfer Protocol standard response code</p>
      </div>
    </div>
  </div>



</html>
{% endblock %}